@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    width: 100vw;
    height: 100%;
    background-color: #262626;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100%;
    margin: auto;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Anton', sans-serif;
}

.hero_section {
    padding-inline: 30px;
    margin-bottom: 30px;
    min-height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.hero_text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    min-height: 300px;
    gap: 30px;
    width: 100%;
    max-width: 500px;
}

.hero_section h1{
    font-size: 40px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.hero_section p{
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.highlighted {
    color: hsl(270, 50%, 70%);
}

.links_wrapper {
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.button_link {
    text-decoration: none;
    color: #262626;
    background-color: #ffffff;
    height: 40px;
    padding-inline: 20px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    font-weight: 600;
}

.hero_image_wrapper {
    height: 50%;
    min-height: 300px;
    display: grid;
    place-items: center;
}

.hero_image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.images_section {
    padding-top: 50px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 30px;
    gap: 30px;
}

.images_section h2{
    font-size: 25px;
    text-align: center;
}

.image_gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.gallery_image {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
}

@media screen and (min-width: 1200px) {
    .image_gallery {
        padding-inline: 10%;
    }
}

@media screen and (min-width: 1440px) {
    .image_gallery {
        padding-inline: 20%;
    }

    .hero_section h1{
        font-size: 80px;
    }

    
    .hero_text_wrapper {
        max-width: 700px;
    }
}